@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
.hero-bg{
    background: white url('../images/image11.jpg');
    color: black;
    text-align: center;
    padding: 4em;
}