@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
.hero-bg{
    background: white url('../images/image1.jpg');
    background-position:5% 20% ;
    background-attachment: fixed;
    color: black;
    text-align: center;
    padding: 4em;

}
